body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
  }
  
  header {
    width: 100%;
    background: #ffccf9;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  

  main {
    width: 80%;
    margin: 20px 0;
  }
  
  main section {
    background: #ffffff;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  main section p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  footer {
    width: 100%;
    background: #ffb3ba;
    padding: 10px;
    text-align: center;
    color: #333;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
